.fish-list-container {
    float: left;
    
    height: 100vh;
    width: 80%;
    min-width: 800px;

    color: #fff;
    background-color: #2c3e50;

    overflow-y: scroll;

    .title {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        padding-top: 40px;
    }

    .fish-list {
        margin-top: 40px;

        ul {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;

            padding-left: 0;

            list-style-type: none;

            li {
                transition-duration: 300ms;

                cursor: pointer;

                line-height: 3.5;
                height: 60px;

                border: 1px solid #fff;

                padding: 40px;
                margin-left: 20px;
                margin-bottom: 20px;

                &:hover {
                    background-color: rgba( 255, 255, 255, .4);
                }
            }
        }
    }
}