.main-content {
    height: 100vh;
    width: 20%;
    min-width: 300px;

    overflow-y: scroll;
    
    float: left;
    
    background-color: #ecf0f1;
    color: #2c3e50;

    .cart {
        
        ul {
            list-style-type: none;

            border: 1px solid #2c3e50;

            width: 200px;

            -webkit-padding-start: 0;
            margin: 0 auto;
            padding: 20px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }

    .error-message {
        width: 200px;
        margin: 0 auto;
        color: #fff;
        background-color: #2c3e50;
        padding: 20px;
    }

    .btn {
        letter-spacing: 1.5px;
        position: relative;
        width: 190px;
        height: 40px;
        text-align: center;
        display: table;
        cursor: pointer;
        font-size: 13px;
        color: #fff;
        background-color: #2c3e50;
        border: 1px solid #fff;

        &:disabled {
            background-color: #ccc;
        }
    }

    .controllers-container {
        width: 200px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .fish-picked {
        
        ul {
            list-style-type: none;
        }

        width: 200px;
        margin: 0 auto;
        margin-top: 40px;
        padding: 20px;
        color: #fff;
        background-color: #2c3e50;
    }
}
